#logo-img {
  width: 125px;
  height: 125px;
}

#back-btn,
#forward-btn {
  display: inline-block;
}

#wine-name,
#update-btn,
#delete-btn {
  display: inline-block;
}

.wine-image {
  height: 400px;
  display: inline-block;
}

.footer {
  left: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
}

#nav-right {
  text-align: right;
}

#logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  text-align: left;
}

#update-btn,
#delete-btn {
  width: 10%;
  font-size: 12px;
}
